#home {
	margin-right: 100px;
	font-weight: bold;
}

div#search_result_list {
	z-index: 1 !important;
	top: 60px;

	div.search_result_item {
		background-color: white;
	}

	div.search_result_item:hover {
		background-color: lightblue;
	}

	span#entry_name {
		max-width: 150px !important;
	}
}

